<!-- 
Affiliation
    IT Challenge
        Rankings / Regional Winnings
    NIDIA
    CCSC
    IEEE
    ACM 
-->
<section class="bg-light w-100">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>
                    Affiliation
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="bg-dark w-100">
    <div class="container">
        <div class="row row-eq-height">
            <div class="col-12 col-md-6 p-2">
                <div class="card">
                    <img class="card-img-top" src="img/affiliation/ivy-tech.jpg" alt="Ivy Tech Community College Photo">
                    <div class="card-body">
                        <h2 class="card-title">
                            Ivy Tech Community College
                        </h2>
                        <p class="card-text">
                            Ivy Tech is committed to the student experience and the development of the whole student in a diverse campus community! Through our events, workshops, technology and partnerships, we facilitate students' growth and enrich their education.
                        </p>
                        <a href="https://www.ivytech.edu/fortwayne/" class="btn btn-sm btn-secondary" target="_blank">Ivy Tech</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 p-2">
                <div class="card">
                    <img class="card-img-top" src="img/affiliation/it-challenge.png" alt="IT Challenge Photo">
                    <div class="card-body">
                        <h2 class="card-title">
                            IT Challenge
                        </h2>
                        <p class="card-text">
                            Each year brings Ivy Tech's Spring IT Expo, an event that will feature eight challenging competitions, two hours each, that will be judged by faculty and staff from the School of Information Technology. Each student will have the ability to compete and work alongside their fellow peers from all across the state.
                        </p>
                        <a href="#" class="btn btn-sm btn-secondary">2017 Winners</a>
                        <a href="#" class="btn btn-sm btn-secondary">2018 Winners</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-eq-height">
            <div class="col-12 col-md-6 p-2">
                <div class="card">
                    <img src="img/affiliation/ccsc.jpg" alt="CCSC - Midwest Photo" class="card-img-top">
                    <div class="card-body">
                        <h2 class="card-title">CCSC - Midwest</h2>
                        <p class="card-text">
                            The Consortium for Computing Sciences in Colleges (CCSC) purpose is to promote the betterment of computer-oriented curricula in two- and four-year colleges and universities; to improve the use of computing as an educational resource for all disciplines; to encompass regional constituencies devoted to this purpose; and to promote a national liaison among local, regional, and national organizations also devoted to this purpose.
                        </p>
                        <a href="https://www.ccsc.org/midwest/" class="btn btn-sm btn-secondary" target="_blank">CCSC Midwest</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 p-2">
                <div class="card">
                    <img src="img/affiliation/nidia.jpg" alt="NIDIA Photo" class="card-img-top">
                    <div class="card-body">
                        <h2 class="card-title">NIDIA</h2>
                        <p class="card-text">
                            The NIDIA (Northeast Indiana Defense Industry Association) was formed with the idea to help fuel industry development in our area. Starting in 2010 we worked with community educators to help develop and improve the local defense community’s ability to attract and retain the required talent to effectively execute business and improve interaction between the defense industry and suppliers in the region.
                        </p>
                        <a href="https://nidiaonline.org/" class="btn btn-sm btn-secondary" target="_blank">NIDIA</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-eq-height">
            <div class="col-12 col-md-6 p-2">
                <div class="card">
                    <!-- <img src="" alt="" class="card-img-top"> -->
                    <div class="card-body">
                        <h2 class="card-title">IEEE</h2>
                        <p class="card-text">
                            The Institute of Electrical and Electronics Engineers (IEEE) is a professional association that creates an environment where members collaborate on world‐changing technologies, from computing and sustainable energy systems to aerospace, communications, robotics, healthcare, and more.
                        </p>
                        <a href="https://www.ieee.org" class="btn btn-sm btn-secondary" target="_blank">IEEE</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 p-2">
                <div class="card">
                    <!-- <img src="" alt="" class="card-img-top"> -->
                    <div class="card-body">
                        <h2 class="card-title">ACM</h2>
                        <p class="card-text">
                            The Association for Computing Machinery (ACM) brings together computing students, educators, researchers, and professionals to inspire dialogue, share resources, and address the field's challenges. As the world’s largest computing society, ACM strengthens the profession's collective voice through strong leadership, promotion of the highest standards, and recognition of technical excellence. ACM supports the professional growth of its members by providing opportunities for life‐long learning, career development, and professional networking.
                        </p>
                        <a href="https://www.acm.org/" class="btn btn-sm btn-secondary" target="_blank">ACM</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>