<!-- 
Home
    Banner Image
        Student Projects Collage?
        Activity Images Collage?
        Icon pointing down
    About Us
    About Events
        Simple Listing
    Recent Posts
        Last Five
            Title
            Date
            Excerpt
    Map - Wide
    Sign Up (Denote Security)
        First Name
        Last Name
        Phone Number
        Ivy Tech Email
        Prefered Email
-->

<div class="hero">
    <!-- <div class="caption">
        <h1 class="display-1">IT Club</h1>
        <p>Greetings! Lets Connect!</p>
        <a href="https://orgsync.com/139217" class="btn btn-lg btn-secondary" target="_blank">Join Here</a>
    </div> -->
    <div class="scroll-downs">
        <div class="mousey">
            <div class="scroller"></div>
        </div>
    </div>
</div>
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6  justify-content-center py-2">
                <img class="img-fluid" src="img/workstation.jpg" alt="Workstation" />
            </div>
            <div class="col-md-6 py-2">
                <p class="d-none d-md-flex">&nbsp;</p>
                <h6>Information Technology Club</h6>
                <h2>ABOUT</h2>
                <p>The School of Computing &amp; Informatics of Ivy Tech Community College Northeast, would like to introduce you to our brand new club!
                <p>The IT Club engages members through talks and presentations by local practitioners, visits and discussions from prominent speakers, technical and career workshops, field trips to local industries and regional tours, informative and fundraising computing fairs, and social activities including WAN/LAN parties and movies. Our club will be participating in official competitions and challenges in various computing and informatics areas.</p>
                <p>We meet on the Coliseum Campus in Room 2312. Events and times listed below.</p>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-md-right justify-content-center py-2">
                <h6>Community &amp; Student Engagement</h6>
                <h2>EVENTS</h2>
                <p>The IT Club holds student-led scientific, educational and casual events dedicated to advancing the arts, sciences, and applications of information technology, in a fun, upbeat, casual way. Students and community members are encouraged to attend all events and bring friends to have a fun and infomative time learning and growing in various areas of computing and informatics.</p>
                <p>Remember to RSVP! Bring a friend, let&#39;s have some fun!</p>
                <h6 class="small">Click here to call <a class="btn btn-sm btn-outline-warning" href="tel:260-755-9083">(260) 755-9083</a></h6>
                <p>&nbsp;</p>
            </div>
            <div class="col-md-6 py-2">
                <ul class="list-group" ng-repeat="item in home.events | filter : 139217 | limitTo : 4">
                    <li class="list-group-item align-items-center m-1">
                        <span class="h4 float-left text-dark mr-2 mb-0">
                            <i class="far fa-check-circle"></i>
                        </span>
                        <p class="h5 d-flex justify-content-between align-items-center text-dark m-0">
                            {{ item.dates[0].starts_at | date : "MMMM d" }}
                            <a class="h5 d-flex align-items-center badge badge-danger badge-pill m-0 " ng-href="./events#upcoming">
                                {{ item.title }}
                            </a>
                        </p> 
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Showcase -->
<div class="map" map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{ home.googleMapsUrl }}">
    <ng-map center="41.111773, -85.111416" zoom="20" tilt="45" map-type-id="SATELLITE"></ng-map>
</div>



<!-- Main End -->
