<!-- 
Members (Custom Post Type)
    How To Join
        Free
        OrgSync Listing
        Map - Satellite
    Constitution
    Faculty Advisors
        Name
        Image
        Department
        Job Title
        Email
        Phone
        LinkedIn
    Managers
        Name
        Image
        Profession
        Email
        Phone
        Portfolio
        LinkedIn
        GitHub
    Officers
        Name
        Image
        Program
        Email
        Phone
        LinkedIn
        GitHub
        Local Portfolio
        Live Portfolio*
    Members - Once Finished With FreeCodeCamp Portfolio
        Name
        Image
        Program
        Email
        Phone*
        LinkedIn
        GitHub
        Local Portfolio
        Live Portfolio*
    Members - Once Joined
        Name
        Email
 -->


<section class="feature bg-light text-xs-center" id="officers">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="display-4">Executive Officers</h1><br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-block">
                        <a data-toggle="collapse" href="#kris">
                            <img class="card-img-top" alt="IT Club Officer Photos" src="img/kris.png"/>
                            <h2 class="card-title display-5"><strong>Kris Roberts</strong></h6>
                        </a>
                        <div class="collapse" id="kris">
                            <p class="card-text">kroberts100@ivytech.edu</p>
                            <p class="card-text">School Of Computing &amp; Informatics</p>
                            <p class="card-text">Department Chair / Club Advisor</p>
                            <a class="btn btn-warning-outline btn-sm" href="https://www.linkedin.com/in/kristopher-roberts-46809b116" target="_blank">LinkedIn</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-block">
                        <a data-toggle="collapse" href="#lucy">
                            <img class="card-img-top" alt="IT Club Officer Photos" src="img/lucy.jpg"/>
                            <h2 class="card-title display-5"><strong>Lucy La&#39; Hurreau</strong></h6>
                        </a>
                        <div class="collapse" id="lucy">
                            <p class="card-text">llahurreau@ivytech.edu</p>
                            <p class="card-text">Health Information Technology</p>
                            <p class="card-text">Assistant Professor / Female Club Advisor</p>
                            <a class="btn btn-warning-outline btn-sm" href="https://www.linkedin.com/in/lucy-la-hurreau-048936a" target="_blank">LinkedIn</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-block">
                        <a data-toggle="collapse" href="#joey">
                            <img class="card-img-top" alt="IT Club Officer Photos" src="img/joey.jpg"/>
                            <h2 class="card-title display-5"><strong>Joseph Wright</strong></h6>
                        </a>
                        <div class="collapse" id="joey">
                            <p class="card-text">jwright387@ivytech.edu</p>
                            <p class="card-text">Software Development Alumni</p>
                            <p class="card-text">President</p>
                            <a class="btn btn-warning-outline btn-sm" href="https://www.linkedin.com/in/codedwright" target="_blank">LinkedIn</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-block">
                        <a data-toggle="collapse" href="#erik">
                            <img class="card-img-top" alt="IT Club Officer Photos" src="img/erik.jpg"/>
                            <h2 class="card-title display-5"><strong>Erik Donovan</strong></h6>
                        </a>
                        <div class="collapse" id="erik">
                            <p class="card-text">edonovan5@ivytech.edu</p>
                            <p class="card-text">Software Development Major</p>
                            <p class="card-text">Vice President</p>
                            <a class="btn btn-warning-outline btn-sm" href="https://www.linkedin.com/in/erik-donovan-183b437a" target="_blank">LinkedIn</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-block">
                        <a data-toggle="collapse" href="#kelsey">
                            <img class="card-img-top" alt="IT Club Officer Photos" src="img/kelsey.jpg"/>
                            <h2 class="card-title display-5"><strong>Kelsey Woods</strong></h6>
                        </a>
                        <div class="collapse" id="kelsey">
                            <p class="card-text">kwoods74@ivytech.edu</p>
                            <p class="card-text">Cyber Security Major</p>
                            <p class="card-text">Treasurer</p>
                            <a class="btn btn-warning-outline btn-sm" href="https://www.linkedin.com/in/kelsey-woods-65aa4583" target="_blank">LinkedIn</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
