<!-- 
News - Category
    Awards
        Ivy Awards
        IT Challenge
    News Articles
    News Videos 
-->

<section class="bg-light w-100">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>
                    News
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="bg-dark text-light w-100">
    <div class="container">
        <div class="row">
            <article class="col-md-4">
                <h2>
                    Awards:
                </h2>
                <ul class="text-dark list-group list-group-flush">
                    <li class="list-group-item">IT Challenge 2018 Silver &amp; Bronze Medalists</li>
                    <li class="list-group-item">Ivy Awards: 2017</li>
                    <li class="list-group-item">IT Challenge 2017 Gold Medalists</li>
                </ul>
            </article>
            <article class="col-md-4">
                <h2>
                    Articles:
                </h2>
                <ul class="text-dark list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                </ul>
            </article>
            <article class="col-md-4">
                <h2>
                    Video:
                </h2>
                <ul class="text-dark list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Cras justo odio
                        <a href="http://www.youtube.com" class="badge badge-danger badge-lg badge-pill" target="_blank">
                            <p class="h6 m-0">
                                <i class="fab fa-youtube"></i>
                            </p>
                        </a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Cras justo odio
                        <a href="http://www.youtube.com" class="badge badge-danger badge-pill" target="_blank">
                            <p class="h6 m-0">
                                <i class="fab fa-youtube"></i>
                            </p>
                        </a>
                    </li>
                </ul>
            </article>
        </div>
    </div>
</section>
