<!-- 
Training Programs
    What Members Can Expect
        Goals
    FreeCodeCamp
    HackerRank
 -->

 <section class="bg-light w-100">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>
                    Training
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="bg-dark text-light w-100">
    <div class="container">
        <div class="row">
            <div class="col-md-8 pr-5">
                <h2>
                    What Members Can Expect:
                </h2>
                <p>
                    As a department organization, we are committed to to demystifing code and new technology to broaden participation in the field of computer science! 
                </p>
                <p>
                    We partner with FreeCodeCamp, a non-profit organization that consists of an interactive learning web platform, an online community forum, chat rooms, and Medium publications, intending to make learning web development accessible to anyone.
                </p>
                <p>
                    Through our events, workshops, technology and partnerships, we facilitate students' growth and enrich their education. <span class="d-none d-md-flex">Students can expect to learn the basics of these technologies:</span>
                </p>
            </div>
            <div class="d-none d-lg-flex flex-column col-lg-2 justify-content-center align-items-center">
                <i class="display-3 fab fa-html5"></i>
                <i class="display-3 fab fa-css3-alt"></i>
                <i class="display-3 fab fa-js"></i>
            </div>
            <div class="d-none d-md-flex col-md-4 col-lg-2 text-dark text-right justify-content-center align-items-center">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">HTML5</li>
                    <li class="list-group-item">CSS3</li>
                    <li class="list-group-item">Bootstrap 4</li>
                    <li class="list-group-item">JavaScript</li>
                    <li class="list-group-item">jQuery</li>
                    <li class="list-group-item">...and more</li>
                </ul>
            </div>
        </div>
    </div>
</section>