<!-- Main -->

<!-- Container (Grey Section) -->
<nav class="pull-sm-right hidden-sm-down" style="margin: 1% 5%;position: fixed;float: right;z-index: 2000; right: 0;">
    <button type="button" class="btn btn-warning">
        <a href="" smooth-scroll target="top" offset="5">HOME</a>
    </button>
    <button type="button" class="btn btn-warning">
        <a href="" smooth-scroll target="about" offset="5">ABOUT</a>
    </button>
    <button type="button" class="btn btn-warning">
        <a href="" smooth-scroll target="events" offset="5">EVENTS</a>
    </button>
    <button type="button" class="btn btn-warning">
        <a href="" smooth-scroll target="officers" offset="5">OFFICERS</a>
    </button>
    <button type="button" class="btn btn-warning">
        <a href="" smooth-scroll target="map" offset="5">MAP</a>
    </button>
</nav>
<div id="stage">
    <div id="stage-caption">
        <h1 class="display-1">IT Club</h1>
        <p>Greetings! Lets Connect!</p>
        <a href="https://orgsync.com/139217" class="btn btn-lg btn-secondary" target="_blank">Join Here</a>
    </div>
</div>
<section class="feature bg-light" id="about">
    <div class="container">
        <div class="row">
            <div class="feature-content">
                <div class="col-lg-6">
                    <img src="img/workstation.jpg" alt="Workstation" />
                </div>
                <div class="col-lg-5 col-lg-offset-1">
                    <p class="hidden-md-up">&nbsp;</p>
                    <h6>Information Technology Club</h6>
                    <h2>ABOUT</h2>
                    <p>The School of Computing &amp; Informatics of Ivy Tech Community College Northeast, would like to introduce you to our brand new club!
                    <p>The IT Club engages members through talks and presentations by local practitioners, visits and discussions from prominent speakers, technical and career workshops, field trips to local industries and regional tours, informative and fundraising computing fairs, and social activities including WAN/LAN parties and movies. Our club will be participating in official competitions and challenges in various computing and informatics areas.</p>
                    <p>We meet on the Coliseum Campus in Room 2312. Events and times listed below.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature bg-dark" id="events">
    <div class="container">
        <div class="row">
            <div class="feature-content">
                <div class="col-lg-5 text-md-right">
                    <h6>Community &amp; Student Engagement</h6>
                    <h2>EVENTS</h2>
                    <p>The IT Club holds student-led scientific, educational and casual events dedicated to advancing the arts, sciences, and applications of information technology, in a fun, upbeat, casual way. Students and community members are encouraged to attend all events and bring friends to have a fun and infomative time learning and growing in various areas of computing and informatics.</p>
                    <p>Remember to RSVP! Bring a friend, let&#39;s have some fun!</p>
                    <a class="btn btn-warning-outline btn-sm" data-toggle="collapse" href="#contact">Call or text for more details!</a>
                    <div class="collapse" id="contact">
                        <br />
                        <h6 class="display-6">Click here to call <a class="btn btn-sm btn-warning-outline" href="tel:260-755-9083">(260) 755-9083</a></h6>
                    </div>
                    <p>&nbsp;</p>
                </div>
                <div class="col-lg-6 col-lg-offset-1">
                    <ul class="list-group">
                        <li class="list-group-item">July: <button class="btn btn-warning btn-sm pull-xs-right">Java Programming</span></li>
                        <li class="list-group-item">August: <button class="btn btn-warning btn-sm pull-xs-right">Competition Preparation</span></li>
                        <li class="list-group-item">September: <button class="btn btn-warning btn-sm pull-xs-right">Competition Season</span></li>
                        <li class="list-group-item">October: <span class="btn btn-warning btn-sm pull-xs-right">Halloween</span></li>
                        <li class="list-group-item">November: <span class="btn btn-warning btn-sm pull-xs-right">Thanksgiving</span></li>
                        <li class="list-group-item">December: <span class="btn btn-warning btn-sm pull-xs-right">Finals</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>		
<section class="feature bg-dark text-xs-center">
    <div class="container">	
        <div class="row">
            <div class="feature-content">
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" alt="IT Club Event Photos" src="img/computer-lab.jpg"/>
                        <div class="card-block">
                            <h6 class="card-title">{{ events[0].title }}</h6>
                            <p class="card-text">
                                    {{ events[0].dates[0].starts_at | date : "MMMM d, y ' From ' h:mm a " }}
                                    {{ events[0].dates[0].ends_at | date : "'to ' h:mm a" }}
                                </p>
                            <p class="card-text">{{ events[0].location | date }}</p>
                            <a class="btn btn-warning" ng-href="events[0].link" target="_blank">Learn More</a>
                        </div>						
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" alt="IT Club Event Photos" src="img/visual-studio-workstation.jpg"/>
                        <div class="card-block">
                            <h6 class="card-title">{{ events[1].title }}</h6>
                            <p class="card-text">
                                {{ events[1].dates[0].starts_at | date : "MMMM d, y ' From ' h:mm a " }}
                                {{ events[1].dates[0].ends_at | date : "'to ' h:mm a" }}
                            </p>
                            <p class="card-text">{{ events[1].location | date }}</p>
                            <a class="btn btn-warning" ng-href="events[1].link" target="_blank">Learn More</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" alt="IT Club Event Photos" src="img/workstation.jpg"/>
                        <div class="card-block">
                            <h6 class="card-title">{{ events[2].title }}</h6>
                            <p class="card-text">
                                    {{ events[2].dates[0].starts_at | date : "MMMM d, y ' From ' h:mm a " }}
                                    {{ events[2].dates[0].ends_at | date : "'to ' h:mm a" }}
                                </p>
                            <p class="card-text">{{ events[2].location | date }}</p>
                            <a class="btn btn-warning" ng-href="events[2].link" target="_blank">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="map" map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{ googleMapsUrl }}">
    <ng-map center="41.111773, -85.111416" zoom="20" tilt="45" map-type-id="SATELLITE"></ng-map>
</div>



<!-- Main End -->
